{% extends 'base.html.twig' %}

{% block body %}
	<h1>Witam i zap do rejestracji</h1>
	<a href="{{ path('user_registration') }}">Do rejestracji</a>

	<h1>Albo do logowania</h1>
	<a href="{{ path('login') }}">Do logowania</a>
{% endblock %}