{% extends 'base.html.twig' %}

{% block body %}
	{% block menu %} {% endblock %}
	{% if is_granted('ROLE_ADMIN') %}
		<table class="table table-striped">
			<thead class="thead-default">
				<tr>
					<td>
						<th>Lista użytkowników bloga</th>
					</td>
				</tr>
			<tbody>
				{% for u in users %}
				<tr>
					<td>
						<a href="{{ path('adminpanel_index', {'id': u.id}) }}">
							{{ u.username }}</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	<button type="button" class="btn btn-info">
		<a href="{{ path('personal_index') }}">Powrót</a>
	</button>
{% endblock %}