{% extends 'base.html.twig' %}

{% block body %}
	<a href="{{ path('personal_index') }}">Powrót</a>
	{% if is_granted('ROLE_ADMIN') %}
		<table class="table">
			<tbody>
				<tr>
					<td>
						<th>Lista użytkowników bloga</th>
					</td>
				</tr>
				{% for u in users %}
				<tr>
					<td>
						<a href="{{ path('adminpanel_index', {'id': u.id}) }}">
							{{ u.username }}</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}